* {
    box-sizing: border-box; /*border + padding + content로 width 짜기*/
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

div#header-center {
    margin: 0 auto;
    width: 1080px;
}

#header-search a {
    text-decoration: none;
}

div#header-search h1 {
    width: 222px;
    height: 52px;
    display: inline-block;
    background-size: 442px 428px;
    background-image: url(./imageSprite.png);
    background-position: 0 -158px;
    background-repeat: no-repeat;
    vertical-align: middle; 
}
 
#header-search h1 span {
    display: none;
}

#header-search h2 {
    display : none;
}

#header-search fieldset {
    margin-left: 20px;
    /* padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 0; */
    padding: 12px 0 12px 10px;  /*위 아래 오른쪽 왼쪽*/
    width: 474px;
    height: 50px;
    display: inline-block; 
    border: 2px solid #03cf5d;
    vertical-align: middle;
}

#header-search fieldset input {
    border: none;
    padding: 0;
    outline: none;
}

#header-search fieldset button {
    width: 56px;
    height: 56px;
    border: none;
    padding: 0;
    display: inline-block;
    background: #03cf5d;
}

#search-image {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: 442px 428px;
    background-position: -420px -24px;
    background-image: url(./imageSprite.png);
}
/* #header-search fieldset button span {
    width: 22px;
    height: 22px;
    background-size: 442px 428px;
} */

