<header>
    <a href="">myMoviereviews</a>
    <a href="/movies/create">Add a new review</a>
</header>
<hr>

<div>
    <h1>{{ movie.title }}</h1>
    <!-- <a href="/movies/{{ movie.id }}/update">수정하기</a> -->
</div>

<div>
    <small>감독: {{ movie.director }}</small>
    <br>
    <small>주연: {{ movie.cast }}</small>
    <br>
    <small>장르: {{ movie.genre }}</small>
    <br>
    <small>별점: {{ movie.star }}</small>
    <br>
    <small>런타임: {{ movie.runtime }}</small>
    <br>
</div>

<div>
    리뷰: {{ movie.review }}
</div>